/.idea
/.idea_modules
logs
project/project
project/target
target
.target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
.class
bin
.*.lock
precompiled
classes
eclipse
.project
.classpath
test-result
activator*
node_modules
npm-debug.log
.DS_Store
angular2/.idea*
public/i18n/
*npm-debug.log*
angular2/debug.log
angular2/package-lock.json

public/css/theme/
